.pushable {
	overflow-x: hidden;
}
.hidden {
	display: none !important;
}

.no-scrollbar {
	overflow-y: hidden;
}

.no-resize {
	resize: none !important;
}

/*@media (max-width: 768px) {
	#contentGrid {
		margin-top: 10%;
	}
}*/