<section id="point-me-app">
    {{document-title title=appName}}
    <div class="ui centered grid" style="width: 100%;">
    	<div class="eight wide column">
            <h2 class="ui dark blue header">
                <i class="ui dark blue circular marker icon"></i>
                {{appName}}
            </h2>

            <section id="main">
                {{outlet}}
            </section>
        </div>
    </div>
</section>
